<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:social="http://spring.io/springsocial"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="breadcrumps" class="row">
     <div class="col-lg-12">
     	<hr/>
     	<ol class="breadcrumb">
			<li th:each="element : ${session.currentBreadCrumb}" th:class="${element.currentPage} ? 'active' : ''">
				<span th:if="${element.currentPage}" th:text="${element.label}" class="active"></span>
				<a th:unless="${element.currentPage}" th:href="${element.url}">
					<span th:text="${element.label}"></span>
				</a>
			</li>
		</ol>
	</div>
</div>