<head xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title><th:block th:if="${#lists.size(session.currentBreadCrumb)}>1" th:text="${session.currentBreadCrumb[#lists.size(session.currentBreadCrumb)-1].label} + ' - ' + ${session.currentBreadCrumb[#lists.size(session.currentBreadCrumb)-2].label}"></th:block><th:block th:unless="${#lists.size(session.currentBreadCrumb)}>1">Movie Web</th:block></title>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}'/>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap-social/4.9.0/bootstrap-social.css}'/>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap-social/4.9.0/assets/css/font-awesome.css}'/>
    <link rel='stylesheet' th:href='@{/webjars/fancybox/2.1.5/jquery.fancybox.css}'/>
    <link rel="stylesheet" type="text/css" th:href='@{/resources/css/site.css}' />
    <link rel="stylesheet" type="text/css" th:href='@{/webjars/github-com-kartik-v-bootstrap-star-rating/3.5.3/css/star-rating.min.css}' />
    <script th:src='@{/resources/js/js.js}'></script>
    <script th:src='@{/webjars/jquery/2.1.4/jquery.min.js}'></script>
    <script th:src='@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}'></script>
    <script th:src='@{/webjars/fancybox/2.1.5/jquery.fancybox.pack.js}'></script>
    <script th:src='@{/webjars/github-com-kartik-v-bootstrap-star-rating/3.5.3/js/star-rating.js}'></script>
</head>