<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="common/head :: head">
        <title></title>    
    </head>
    <body> 
        <nav th:fragment="navigation" class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Movie Web</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <form th:replace="common/search :: search(url='/search',cls='pull-left',method='post')"></form>
                        </li>
                        <li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filmy <span class="caret"></span></a>
                        	<ul class="dropdown-menu">
                        		<li><a th:href="@{/movie/all}">Wszystkie</a></li>
                        		<li role="separator" class="divider"></li>
                        		<li><a th:href="@{/movie/popular}">Popularne</a></li>
                        		<li><a th:href="@{/movie/playing}">Grane</a></li>
                        		<li><a th:href="@{/movie/rated}">Oceniane</a></li>
                        	</ul>
                        </li>
                        <li><a th:href="@{/keyword/list}">Tagi</a></li>
                        <li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gatunki <span class="caret"></span></a>
                        	<ul class="dropdown-menu">
                        		<li><a th:href="@{/genre/list}">Wszystkie</a></li>
                        		<li role="separator" class="divider"></li>
                        		<li class="dropdown-header">Lista</li>
                        		<li th:each="genre : ${genres}"><a th:href="@{/genre/}+${genre.id}" th:text="${genre.name}"></a></li>
                        	</ul>
                        </li>
                        <li><a th:href="@{/country/list}">Kraje</a></li>
                        <li><a th:href="@{/company/list}">Firmy</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ludzie <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a th:href="@{/actor/list}">Aktorzy</a></li>
                              <li><a th:href="@{/crew/list}">Produkcja</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/page/rank}">Ranking stron</a></li>
                    </ul>
                    <ul th:replace="common/signin :: ${#authentication.getPrincipal()} == 'anonymousUser' ? 'signin' : 'logged'"></ul>
                </div>
            </div>
        </nav>
    </body>
</html>