<nav xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="pagination" class="text-center">
     <ul class="pagination">
		<li th:class="${currentPageNo} le 1 ? 'disabled' : ''">
			<a th:href="${currentPageNo} le 1 ? '#' : @{${url}}+${currentPageNo-1}" aria-label="Previous" th:attr="data-page=${currentPageNo-1}">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li th:class="${currentPageNo == 1} ? 'active' : ''">
			<a th:href="@{${url}}+'1'" aria-label="First" data-page="1">
				<span aria-hidden="true">1</span>
			</a>
		</li>
		<li th:each="pageNo : ${#numbers.sequence(currentPageNo - 2 gt 1 ? currentPageNo - 2 : 2,
			currentPageNo + 2 gt page.getTotalPages() ? currentPageNo : currentPageNo + 2 , 1)}" 
			th:if="${page.getTotalPages()} gt 2 and ${pageNo} lt ${page.getTotalPages()}"
			th:class="${currentPageNo} eq ${pageNo} ? 'active' : ''">
			<a th:href="@{${url}}+${pageNo}" th:text="${pageNo}" th:attr="data-page=${pageNo}"></a>
		</li>
		<li th:class="${currentPageNo == page.getTotalPages()} ? 'active' : ''"
			th:if="${page.getTotalPages() > 1}">
			<a th:href="@{${url}}+${page.getTotalPages()}" aria-label="Last" th:attr="data-page=${page.getTotalPages()}">
				<span th:text="${page.getTotalPages()}" aria-hidden="true"></span>
			</a>
		</li>
		<li th:class="${currentPageNo >= page.getTotalPages()} ? 'disabled' : ''">
			<a th:href="${currentPageNo >= page.getTotalPages()} ? '#' : @{${url}}+${currentPageNo+1}" aria-label="Next" th:attr="data-page=${currentPageNo+1}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>