<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="common/head :: head">
        <title></title>    
    </head>
    <body>
        <ul th:fragment="signin" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zaloguj <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                        <input type="hidden" name="scope" value="read_stream,user_posts,email,public_profile,user_likes,user_friends,user_photo_video_tags,user_status,publish_actions,user_location,publish_stream,user_photos,offline_access"></input>
                        <button type="submit" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
                    </form>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">O logowaniu</a></li>
                </ul>
            </li>
        </ul>
        <ul th:fragment="logged" class="nav navbar-nav navbar-right">
            <li><img th:src="${#authentication.credentials.profileImageUrl}" class="nav-profile special-img img-rounded"/></li>
            <li><a th:href="@{#}" th:text="${#authentication.credentials.displayName}">User</a></li>
            <li>
                <form id="disconnect" th:action="@{/signout}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button class="btn btn-default navbar-btn" type="submit">Wyloguj</button>	
                    <input type="hidden" name="_method" value="delete"/>
                </form>
            </li>
        </ul>
    </body>
</html>
