<div xmlns:th="http://www.thymeleaf.org"
	 xmlns:social="http://spring.io/springsocial"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="stars">
     <div th:id="${starId}" class="rating"></div>
     <script th:inline="javascript">
		$([['#'+${starId}]]).rating({
			min:0, max:10, step:0.5, stars:10, size:[[${starSize}]], disabled:true,
			readonly: true, showClear: false,
			starCaptions: function(val) {
				if([[${starVoteCount}]] > 0) {
					return parseFloat(val).toPrecision(3) + ' (' + [[${starVoteCount}]] + ' głosów)';
				}
				return parseFloat(val).toPrecision(3);}})
			.rating('update', [[${#numbers.formatDecimal(starValue, 1, 'COMMA', 2, 'POINT')}]]);
	</script>
</div>