<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body> 
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
        	<div class="panel panel-default">
        		<div class="panel-body">
	        		<div class="row pages">
		        		<table class="table pagerank">
			        		<thead>
			        			<tr>
			        				<th>Ranking</th>
			        				<th>Strona</th>
			        			</tr>
			        		</thead>
			        		<tbody>
				        		<tr th:each="page : ${pages}">
			        				<td th:text="${#numbers.formatDecimal(page.value, 1, 'COMMA', 5, 'POINT')}"></td>
			        				<td><a th:href="${page.url}" th:text="${page.title}"></a></td>
			        			</tr>
			        		</tbody>
		        		</table>
	            	</div>
	            	<nav th:replace="common/pagination :: pagination(page=${pages},currentPageNo=${current},url=${baseUrl})"></nav>
        		</div>
        	</div>
        </div>
    </body>
</html>
