<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>
        <div id="content" class="container" layout:fragment="content">
            <div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
	        <div class="row m-b-10" th:each="movie : ${movies}">
	            <div class="col-md-7 img-list-element">
	                <a th:class="backdrop-+${movie.id}" th:href="@{/movie/}+${movie.id}">
	                    <script th:inline="javascript">
	                    	MV.Fragment.Image.load([[@{/movie/backdrops/}+${movie.id}]], [[.backdrop-+${movie.id}]],
	                    		'img-responsive img-hover center-block', 500, 300);
	                    </script>
	                </a>
	            </div>
	            <div class="col-md-5">
	                <h3 th:text="${movie.title}"></h3>
	                <h4 th:if="${!#lists.isEmpty(movie.genres)}" th:text='${movie.genres[0].name}'></h4>
	                <p th:text="${movie.overview}"></p>
	                <a class="btn btn-primary" th:href="@{/movie/}+${movie.id}">Więcej</a>
	            </div>
	            <hr/>
	        </div>
	        <nav th:replace="common/pagination :: pagination(page=${movies},currentPageNo=${current},url=${baseUrl})"></nav>
        	
        	<script th:if="${name}" th:inline="javascript">
        		MV.Event.add('name', [[${name}]]);
            </script>
        </div>
    </body>
</html>
