<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<body>
	<div id="content" class="container" layout:fragment="content">
		<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>

		<div class="row movie">

			<div class="col-lg-8">
				<div th:class="poster" th:href="@{/movie/}+${movie.id}">
					<script th:inline="javascript">
						MV.Fragment.Image.load([[@{/movie/posters/}+${movie.id}]], [[.poster]],
	                    	'col-lg-4 img-responsive center-block', 300, 450);
	                </script>
	            </div>

				<div class="col-lg-8">
					<h1 class="lead movie-title" th:inline="text">
						[[${movie.originalTitle}+'
						('+${#dates.format(movie.releaseDate,'YYYY')}+')']]</h1>
					<div
						th:replace="common/stars :: stars(starId='movie-rating',starSize='sm',starValue=${movie.voteAvg},starVoteCount=${movie.voteCount})"></div>
					<p th:text="${movie.overview}"></p>
				</div>
				<!-- Video -->
				<hr class="col-lg-12" />
				<iframe th:if="${!#lists.isEmpty(movie.videos)}"
					style="height: 400px" class="img-responsive" width="900"
					height="900"
					th:src="'http://www.youtube.com/embed/'+${movie.videos[0].key}+'?rel=0&amp;vq=medium'"
					frameborder="0" allowfullscreen="true"></iframe>
				<hr th:if="${!#lists.isEmpty(movie.videos)}" />
				<!-- Genre -->
				<div class="row genres">
					<div class="col-lg-12">
						<h4>Gatunki</h4>
					</div>
					<div class="col-lg-12">
						<a th:each="genre : ${movie.genres}"
							th:href="@{/genre/}+${genre.id}">
							<button type="button" class="btn btn-default" th:inline="text">
								<span class="glyphicon glyphicon-facetime-video"
									aria-hidden="true"></span> [[${genre.name}]]
							</button>
						</a>
					</div>
				</div>
				<!-- Keywords -->
				<div class="row keywords">
					<div class="col-lg-12">
						<h4>Tagi</h4>
					</div>
					<div class="col-lg-12">
						<a th:each="keyword : ${movie.keywords}"
							th:href="@{/keyword/}+${keyword.id}">
							<button type="button" class="btn btn-default" th:inline="text">
								<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
								[[${keyword.name}]]
							</button>
						</a>
					</div>
				</div>
				<!-- Companies -->
				<div class="row companies">
					<div class="col-lg-12">
						<h4>Produkcja</h4>
					</div>
					<div class="col-lg-12">
						<a th:each="company : ${movie.companies}"
							th:href="@{/company/}+${company.id}">
							<button type="button" class="btn btn-default" th:inline="text">
								<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
								[[${company.name}]]
							</button>
						</a>
					</div>
				</div>
				<!-- Countries -->
				<div class="row countries">
					<div class="col-lg-12">
						<h4>Kraje</h4>
					</div>
					<div class="col-lg-12">
						<a th:each="country : ${movie.countries}"
							th:href="@{/country/}+${country.id}">
							<button type="button" class="btn btn-default" th:inline="text">
								<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
								[[${country.name}]]
							</button>
						</a>
					</div>
				</div>
				<!-- Galery -->
				<div th:if="${!#lists.isEmpty(backdrops)}" class="row">
					<div class="col-lg-12">
						<h2 class="page-header">Galeria</h2>
					</div>
					<div class="col-lg-12">
						<div th:each="backdrop: ${backdrops}"
							class="col-md-1 thumbnail">
							<a class="fancybox" rel="backdrops"
								th:href="${backdrop.getFilePath(1000)}"> <img
								th:src="${backdrop.getFilePath(90)}" alt="" />
							</a>
						</div>
						<script th:inline="javascript">
							MV.Fancybox.init(".fancybox");
	                    </script>
					</div>
				</div>
				<!-- Reviews -->
				<div class="row">
					<div class="col-lg-12">
						<h2 class="page-header">Recenzje</h2>
					</div>
					<div th:replace="review/modal :: reviewModal"></div>
				</div>
				<!-- Actors -->
				<div class="row">
					<div class="col-lg-12">
						<h2 class="page-header">Aktorzy</h2>
					</div>
					<div th:replace="actor/rolesMore :: rolesMore"></div>
				</div>
				<!-- Production -->
				<div class="row">
					<div class="col-lg-12">
						<h2 class="page-header">Produkcja</h2>
					</div>
					<div th:replace="crew/jobsMore :: jobsMore"></div>
				</div>
				<!-- Similar -->
				<div class="row" th:if="${!#lists.isEmpty(movie.similarMovies)}">
					<div class="col-lg-12">
						<h2 class="page-header">Podobne</h2>
						<div th:each="movie : ${movie.similarMovies}"
							class="col-md-3 thumbnail">
							<a th:href="@{/movie/}+${movie.id}"
								th:class="backdrop-+${movie.id}"> <script
									th:inline="javascript">MV.Fragment.Image.load([[@{/movie/backdrops/}+${movie.id}]], [[.backdrop-+${movie.id}]], 'img-responsive img-hover center-block', 300);</script>
							</a>
							<div class="caption">
								<small class="center-block" th:text="${movie.title}"></small>
							</div>
						</div>
					</div>
				</div>
				<!-- Facebook -->
				<hr />
				<div th:replace="facebook/comments :: comments"></div>
			</div>

			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-4">
				<!-- Blog Search Well -->
				<div class="well">
					<h4>Autopromocja</h4>
					<div class="input-group center-block" th:each="rec: ${recommended}" th:if="${rec.id} != ${movie.id}">
						<hr/>
						<h5 th:text="${rec.title}"></h5>
						<a th:class="backdropc-+${rec.id}" th:href="@{/movie/}+${rec.id}">
		                    <script th:inline="javascript">
		                    	MV.Fragment.Image.load([[@{/movie/backdrops/}+${rec.id}]], [[.backdropc-+${rec.id}]],
		                    		'img-responsive img-hover center-block', 320, 160);
		                    </script>
		                </a>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<!-- Blog Search Well -->
				<div class="well">
					<h4>Reklama</h4>
					<div class="input-group"></div>
					<!-- /.input-group -->
				</div>
			</div>
			
			<script th:inline="javascript">
        		MV.Event.add('name', [[${movie.title}]]);
            </script>
		</div>
	</div>
</body>
</html>
