<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body> 
        <div id="content" class="container" layout:fragment="content">
            <!-- content start -->
            <div th:if="${movieName} != null" class="jumbotron">
                <h4>Import zakończony powodzeniem!</h4>
                Zaimportowana fraza: <span th:text="${movieName}" class="blue">aaa</span>
            </div>
        </div>
    </body>
</html>
