<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<form class="col-md-5 center-block" name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                            <input type="hidden" name="scope" value="read_stream,user_posts,email,public_profile,user_likes,user_friends,user_photo_video_tags,user_status,publish_actions,user_location,publish_stream,user_photos,offline_access"></input>
                            <button type="submit" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
                        </form>
		</div>		
	</body>
</html>
