<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorator="layout">
    <body>
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
            
        	<div class="row">
        		<!-- Personal card -->
        		<div class="col-md-8">
        			<div class="panel panel-default">
	        			<div class="panel-body">
	        				<a class="fancybox col-md-5 thumbnail" th:if="${!#lists.isEmpty(actor.images)}"
	        					th:href="'http://image.tmdb.org/t/p/w500'+${actor.images[0].filePath}" rel="images">
		      					<img class="img-responsive" th:src="'http://image.tmdb.org/t/p/w300'+${actor.images[0].filePath}" alt=""/>
		    				</a>
		    				<a class="fancybox col-md-5 thumbnail" th:unless="${!#lists.isEmpty(actor.images)}"
		    					th:href="@{/resources/img/default.gif}">
		      					<img class="img-responsive" th:src="@{/resources/img/default.gif}" alt=""/>
		    				</a>
		    				<div class="col-md-7 caption">
		    					<h3 th:text='${actor.name}'></h3>
		    					<p th:if="${actor.detail}">
		    						<div th:if="${!#strings.isEmpty(actor.detail.birthDate)}">
		    							Urodzony: <strong th:text="${actor.detail.birthDate} 
		    							+ (${!#strings.isEmpty(actor.detail.birthPlace)} ? ' ('+${actor.detail.birthPlace}+')' : '')"></strong>
		    						</div>
		    						<div th:if="${!#strings.isEmpty(actor.detail.deathDate)}">
		    							Zmarły: <strong th:text="${actor.detail.deathDate}"></strong>
		    						</div>
		    						<div th:if="${actor.detail.gender} lt 2">
		    							Płeć: <strong th:text="${actor.detail.getGenderName()}"></strong>
		    						</div>
		    						<div th:if="${!#strings.isEmpty(actor.detail.knowsAs)}">
		    							Znany jako: <strong th:text="${actor.detail.knowsAs}"></strong>
		    						</div>
		    						<div th:if="${!#strings.isEmpty(actor.detail.homepage)}">
		    							WWW: <a target="_blank" th:href="${actor.detail.homepage}" th:text="${actor.detail.homepage}"></a>
		    						</div>
		    						<div th:if="${!#strings.isEmpty(actor.detail.popularity)}"
		    							th:replace="common/stars :: stars(starId='actor-rating',starSize='xs',starValue=${actor.detail.popularity},starVoteCount=0)">
		    						</div>
		    						<div th:each="image,it : ${actor.images}" class="col-md-1 thumbnail" th:if="${it.index>0}">
			                            <a class="fancybox" rel="images" th:href="${image.getFilePath(1000)}">
			                                <img th:src="${image.getFilePath(90)}" alt="" />
			                            </a>
			                        </div>
			                        <script th:inline="javascript">
			                        	MV.Fancybox.init(".fancybox");
			                    	</script>
			                    </p>
		                    </div>
		                    <blockquote class="col-md-12" th:if="${actor.detail} and ${actor.detail.bio}">
								<p th:utext="${#strings.replace(actor.detail.bio, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></p>
							</blockquote>
							<hr/>
							<div th:if="${actor.roles}" class="col-md-12">
								<div class="col-lg-12">
		                            <h2 class="page-header">Role</h2>
		                        </div>
		                        <div th:each="roles : ${rolesByYear}">
		                        	<div class="col-lg-12">
			                            <h2 th:text="${roles.key}"></h2>
			                            <div th:each="role: ${roles.value}" class="col-md-3 thumbnail">
				                            <a th:href="@{/movie/}+${role.movie.id}" th:class="backdrop-+${role.movie.id}">
				                                <script th:inline="javascript">MV.Fragment.Image.load([[@{/movie/backdrops/}+${role.movie.id}]], [[.backdrop-+${role.movie.id}]], 'img-responsive img-hover center-block', 300);</script>
				                            </a>
				                            <div class="caption">
				                            	<b class="center-block"><small th:text="${role.character}"></small></b>
				                            	<small class="center-block" th:text="'('+${role.movie.title}+')'"></small>
				                            </div>
				                        </div>
			                        </div>
		                        </div>
							</div>
	        			</div>
	        		</div>
	        		
	        		<hr/>
                    <div th:replace="facebook/comments :: comments"></div>    
        		</div>
        		
        		<!-- Blog Sidebar Widgets Column -->
				<div class="col-md-4">
					<!-- Blog Search Well -->
					<div class="well">
						<h4>Autopromocja</h4>
						<div class="input-group center-block" th:each="rec: ${recommended}">
							<hr/>
							<h5 th:text="${rec.title}"></h5>
							<a th:class="backdropa-+${rec.id}" th:href="@{/movie/}+${rec.id}">
			                    <script th:inline="javascript">
			                    	MV.Fragment.Image.load([[@{/movie/backdrops/}+${rec.id}]], [[.backdropa-+${rec.id}]],
			                    		'img-responsive img-hover center-block', 320, 160);
			                    </script>
			                </a>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<!-- Blog Search Well -->
					<div class="well">
						<h4>Reklama</h4>
						<div class="input-group"></div>
						<!-- /.input-group -->
					</div>
				</div>
        	</div>
        	
        	<script th:inline="javascript">
        		MV.Event.add('name', [[${actor.name}]]);
            </script>
        </div>
    </body>
</html>
