<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="rolesMore" class="col-lg-12">
     <div class="roles">
     	<div th:replace="actor/roles :: roles"></div>
     </div>
	<button type="button" class="more-roles btn btn-primary btn-lg"
		th:if="${#lists.size(roles.getContent())} ge ${T(com.emde.movieweb.movie.service.impl.ImportServiceImpl).actorLimit}">Więcej</button>
	<script th:inline="javascript">
		$(function() {
			var rolesMore = MV.More();
			rolesMore.init($('.roles'), $('button.more-roles'), [[@{/actor/movie/}+${movie.id}+'/']],
					[[${roles.getTotalPages()}]], [[${T(com.emde.movieweb.movie.service.impl.ImportServiceImpl).actorLimit}]]);
		});
	</script>
</div>