<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="roles" class="col-md-4 text-center" th:each="role : ${roles}">
     <a class="thumbnail" th:href="@{/actor/}+${role.actor.id}">
     	<img width="450" height="750" style="height: 250px" class="img-responsive"
     		 th:src="'http://image.tmdb.org/t/p/w300'+${role.profilePath}" alt="" th:if="${role.profilePath}"/>
     	<img width="450" height="750" style="height: 250px" class="img-responsive"
			 th:src="@{/resources/img/default.gif}" alt="" th:unless="${role.profilePath}"/>
		<div class="caption">
			<h3 th:text='${role.actor.name}'></h3>
			<h4 th:text='${role.character}'></h4>
		</div>
	</a>
</div>