<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body> 
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
            
        	<div class="panel panel-default">
        		<div class="panel-body">
	        		<div class="row genres">
	            		<a th:each="genre : ${genres}" th:href="@{/genre/}+${genre.id}">
	            			<button type="button" class="btn btn-default" th:inline="text">
	            				<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
	            				[[${genre.name}]]
	            			</button>
	            		</a>
	            	</div>
        		</div>
        	</div>
        </div>
    </body>
</html>
