/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-07-24, 00:00:03
    Author     : emde
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
/* Footer end */

/* Carousel */
header.carousel {
    height: 300px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

header.carousel .carousel {
    height: 70%;
}

.carousel-desc {
    margin: 0px auto 20px;
    padding: 0 20px;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#sg-carousel .carousel-control.right, 
#sg-carousel .carousel-control.left {
    background: none !important;
    outline: 0;
    width: 7%;
}

#sg-carousel .carousel-control .glyphicon-chevron-left,
#sg-carousel .carousel-control .glyphicon-chevron-right {
    top: 25%;
}
/* Carousel end */

/* Nav */
.nav-profile {
    margin-top:10px;
    margin-left:15px;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#disconnect .navbar-btn {
    margin-left:15px;
}
/* Nav end */
    
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* Carousel */
    ol.carousel-indicators {
        bottom: 140px;
    }
    
    #sg-carousel .carousel-control .glyphicon-chevron-left,
    #sg-carousel .carousel-control .glyphicon-chevron-right {
        top: 33%;
    }
    
    .carousel-desc {
        padding: 0 25px;
        max-width: 760px;
    }
    /* Carousel end */
    
    /* Nav */
    nav .container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .nav-profile {
        margin-left:0px;
    }
    
    #disconnect .navbar-btn {
        margin-left: 0px;
    }
    /* Nav end */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* Carousel */
    .carousel-desc {
        padding: 0 20px;
        max-width: 962px;
    }
    /* Carousel end */
    
    /* Nav */
    nav .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* Nav end */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* Carousel */
    .carousel-desc {
        padding: 0 40px;
        max-width: 1200px;
    }
    /* Carousel end */
}

.img-list-element {
    max-height: 281px;
    overflow: hidden;
}

.img-list-element img.poster {
    position: relative;
    bottom: 100px;
}

/* Movie */
.movie-title {
	margin-bottom: 0px;
}
/* Movie end */

/* Margins */
.m-b-10 {
    margin-bottom: 10px;
}
/* Margins end */

/* Keywords */
.movie .keywords,
.movie .genres,
.movie .companies,
.movie .countries {
	padding-left: 0px;
}

.keywords, .genres, .companies, .countries {
	padding: 10px;
}

.keywords .btn, .genres .btn, .companies .btn, .countries .btn {
	margin: 3px 0;
}
/* Keywords end */

/* Review modal */
#review-modal .pagination {
	margin: 0;
}
/* Review modal end */
.pagerank {
	width: 95%;
    margin: auto;
}