<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     class="review-popup">
     <div th:if="${reviews.getTotalElements()} gt 0">
	     <div class="panel panel-default" th:each="review : ${reviews}">
	     	<div class="panel-heading" th:text="${review.author}"></div>
	     	<div class="panel-body" th:utext="${#strings.replace(review.content, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></div>
		</div>
		<nav th:replace="common/pagination :: pagination(page=${reviews},currentPageNo=${current},url=${baseUrl})"></nav>
     </div>
     <div th:if="${reviews.getTotalElements()} le 0" class="alert alert-info" role="alert">
		<b>Brak recenzji!</b>
	</div>
	<script th:unless="${reviews.getTotalElements()} le 0" th:inline="javascript">
		MV.Page.init('.review-popup', [[${baseUrl}]], [[${current}]], [[${reviews.getTotalElements()}]]);
	</script>
</div>