<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="reviewModal" class="col-lg-12">
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#review-modal">Zobacz</button>        
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="review-modal-label" id="review-modal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="review-modal-label" th:text="'Recenzje - ' + ${movie.title}"></h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$('#review-modal').on('show.bs.modal', function (event) {
			var modal = $(this);
			if(modal.find('.modal-body').text() == '') {
				MV.Modal.init([[@{/review/list/}+${movie.id}+'/1']]);
				MV.Modal.load(modal.find('.modal-body'));
			}
		})
	</script>
</div>