<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body> 
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
            
        	<div class="panel panel-default">
        		<div class="panel-body">
	        		<div class="row countries">
	            		<a th:each="country : ${countries}" th:href="@{/country/}+${country.id}">
	            			<button type="button" class="btn btn-default" th:inline="text">
	            				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
		                    	[[${country.name}]]
	            			</button>
	            		</a>
	            	</div>
	            	<nav th:replace="common/pagination :: pagination(page=${countries},currentPageNo=${current},url='/country/list/')"></nav>
        		</div>
        	</div>
        </div>
    </body>
</html>
