<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Movie Web</title>
        <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}'/>
        <link rel="stylesheet" type="text/css" th:href='@{/resources/css/site.css}' />
        <script th:src='@{/resources/js/js.js}'></script>
        <script th:src='@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}'></script>
        <script th:src='@{/webjars/jquery/2.1.4/jquery.min.js}'></script>
    </head>
    <body> 
        <div th:fragment="slider" id="sg-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div  class="carousel-inner" role="listbox">
                <div th:each="movie,iterationStatus  : ${sliderMovies}" th:class="${iterationStatus.count} > 1 ? 'item' : 'item active'">
                    <img style="margin: 0 auto; height: 360px;" th:src="'http://image.tmdb.org/t/p/w500'+${movie.images[0].filePath}" data-holder-rendered="true"/>
                    <div class="carousel-desc">
                        <h3 th:text="${movie.title}"></h3>
                        <h4 th:text='${movie.genres[0].name}'></h4>
                        <hr/>
                        <p th:text='${movie.overview}'></p>
                        <a class="btn btn-primary pull-right" th:href="@{/movie/}+${movie.id}">Zobacz <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#sg-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#sg-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </body>
</html>
