<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="jobs" class="col-md-4 text-center" th:each="job : ${jobs}">
     <a class="thumbnail" th:href="@{/crew/}+${job.crew.id}">
		<img width="450" height="750" style="height: 250px" class="img-responsive"
			 th:src="'http://image.tmdb.org/t/p/w300'+${job.crew.images[0].filePath}" alt="" th:if="${!#lists.isEmpty(job.crew.images)}"/>
		<img width="450" height="750" style="height: 250px" class="img-responsive"
			 th:src="@{/resources/img/default.gif}" alt="" th:unless="${!#lists.isEmpty(job.crew.images)}"/>
		<div class="caption">
			<h3 th:text='${job.crew.name}'></h3>
			<h4 th:text='${job.job}'></h4>    
		</div>
	</a>
</div>