<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     th:fragment="jobsMore" class="col-lg-12">
     <div class="jobs">
     	<div th:replace="crew/jobs :: jobs"></div>
     </div>
	<button type="button" class="more-jobs btn btn-primary btn-lg"
		th:if="${#lists.size(jobs.getContent())} ge ${T(com.emde.movieweb.movie.service.impl.ImportServiceImpl).crewLimit}">Więcej</button>
	<script th:inline="javascript">
		$(function() {
			var jobsMore = MV.More();
			jobsMore.init($('.jobs'), $('button.more-jobs'), [[@{/crew/movie/}+${movie.id}+'/']],
					[[${jobs.getTotalPages()}]], [[${T(com.emde.movieweb.movie.service.impl.ImportServiceImpl).crewLimit}]]);
		});
	</script>
</div>