<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body>
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
            <div class="row">
            	<form th:replace="common/search :: search(url='/crew/search',cls='text-center',method='get')"></form>
            	<hr/>
	            <div class="col-lg-12">
	        		<div class="col-md-3 text-center" th:each="crew : ${crews}">
	        			<a class="thumbnail" th:href="@{/crew/}+${crew.id}">
	        				<img width="450" height="750" style="height: 250px" class="img-responsive" th:if="${!#lists.isEmpty(crew.images)}"
	        					 th:src="'http://image.tmdb.org/t/p/w300'+${crew.images[0].filePath}" alt=""/>
	        				<img width="450" height="750" style="height: 250px" class="img-responsive" th:unless="${!#lists.isEmpty(crew.images)}"
	        					 th:src="@{/resources/img/default.gif}" alt=""/>
	        				<div class="caption">
	        					<h3 th:text='${crew.name}'></h3>
	        				</div>
	        			</a>
	        		</div>
	        	</div>
	        	<nav th:replace="common/pagination :: pagination(page=${crews},currentPageNo=${current},url='/crew/list/')"></nav>
            </div>
        </div>
    </body>
</html>
