<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <body> 
        <div id="content" class="container" layout:fragment="content">
        	<div class="row" th:replace="common/breadcrumps :: breadcrumps"></div>
        	<form th:replace="common/search :: search(url='/keyword/search',cls='text-center',method='get')"></form>
        	<div class="panel panel-default">
        		<div class="panel-body">
	        		<div class="row keywords">
	            		<a th:each="keyword : ${keywords}" th:href="@{/keyword/}+${keyword.id}">
	            			<button type="button" class="btn btn-default" th:inline="text">
	            				<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
	            				[[${keyword.name}]]
	            			</button>
	            		</a>
	            	</div>
	            	<nav th:replace="common/pagination :: pagination(page=${keywords},currentPageNo=${current},url=${baseUrl})"></nav>
        		</div>
        	</div>
        </div>
    </body>
</html>
